---
http_interactions:
- request:
    method: get
    uri: "<BASE_URL>/api/datasources"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        [
          {
            "connection_data": {
              "database": "demo",
              "host": "samples.mindsdb.com",
              "password": "demo_password",
              "port": "5432",
              "schema": "demo_data",
              "user": "demo_user"
            },
            "created_at": "2024-10-11 17:29:35.131488",
            "description": "House sales data",
            "engine": "postgres",
            "name": "datasource_name",
            "tables": []
          },
          {
            "connection_data": {
              "database": "demo",
              "host": "samples.mindsdb.com",
              "integrations_name": "test_recommend",
              "password": "demo_password",
              "port": 5432,
              "publish": true,
              "schema": "public",
              "test": true,
              "type": "postgres",
              "user": "demo_user"
            },
            "created_at": "2024-10-21 03:11:31.038480",
            "description": "data job",
            "engine": "postgres",
            "name": "test_recommend",
            "tables": [
              "models_1",
              "newstable",
              "newtable",
              "predictions_blackbox",
              "predictions_table",
              "regression100",
              "regression_mindsdb",
              "nodes",
     [...]
