---
http_interactions:
- request:
    method: post
    uri: "<BASE_URL>/api/datasources"
    body:
      encoding: UTF-8
      string: '{"name":"my_datasource","engine":"postgres","description":"<DESCRIPTION-OF-YOUR-DATA>","connection_data":{"user":"demo_user","password":"demo_password","host":"samples.mindsdb.com","port":5432,"database":"demo","schema":"demo_data"},"tables":["<TABLE-1>","<TABLE-2>"]}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 28 Oct 2024 16:40:40 GMT
- request:
    method: get
    uri: "<BASE_URL>/api/datasources/my_datasource"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "connection_data": {
            "database": "demo",
            "host": "samples.mindsdb.com",
            "password": "demo_password",
            "port": 5432,
            "schema": "demo_data",
            "user": "demo_user"
          },
          "created_at": "2024-10-28 16:40:40.770670",
          "description": "<DESCRIPTION-OF-YOUR-DATA>",
          "engine": "postgres",
          "name": "my_datasource",
          "tables": [
            "<TABLE-1>",
            "<TABLE-2>"
          ]
        }
  recorded_at: Mon, 28 Oct 2024 16:40:42 GMT
recorded_with: VCR 6.3.1
