---
http_interactions:
- request:
    method: post
    uri: "<BASE_URL>/api/projects/mindsdb/minds"
    body:
      encoding: UTF-8
      string: '{"name":"test_mind","model_name":null,"provider":null,"parameters":{"prompt_template":"Use
        your database tools to answer the user''s question: {{question}}"},"datasources":[]}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sat, 26 Oct 2024 17:40:58 GMT
- request:
    method: get
    uri: "<BASE_URL>/api/projects/mindsdb/minds/test_mind"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "created_at": "2024-10-26 17:40:58.448649",
          "datasources": [],
          "model_name": "gpt-4o",
          "name": "test_mind",
          "parameters": {
            "prompt_template": "Use your database tools to answer the user's question: {{question}}"
          },
          "provider": "openai",
          "updated_at": "2024-10-26 17:40:58.448647"
        }
  recorded_at: Sat, 26 Oct 2024 17:40:59 GMT
recorded_with: VCR 6.3.1
