---
http_interactions:
- request:
    method: get
    uri: "<BASE_URL>/api/projects/mindsdb/minds/test_recommend"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "created_at": "2024-10-21 03:11:38.918704",
          "datasources": [
            "test_recommend"
          ],
          "model_name": "gpt-4o",
          "name": "test_recommend",
          "parameters": {
            "prompt_template": "Use your database tools to answer the user's question: {{question}}"
          },
          "provider": "openai",
          "updated_at": "2024-10-24 15:43:20.858729"
        }
  recorded_at: Sat, 26 Oct 2024 17:43:10 GMT
recorded_with: VCR 6.3.1
